*{
    margin: 0;
    padding: 0;
} 

body{
    height: 85%;
    background-image: url('img/bg.jpeg');
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.taskbar{
    width: 100%;
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: center;
}

.startmenu{
    position: absolute;
    /* bottom: 50px; */
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
}

.startmenu img{
    height: 450px;
    border-radius: 10px;
}

.right{
    /* justify-self: flex-end; */
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}

.icons{
    color: #fff;
}